@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=MonteCarlo&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: MonteCarlo, sans-serif;
    font-weight: 200;
    color: hwb(180 2% 80% / 0.925);
    letter-spacing: 4px;
    background-color: #d9f1f2;
}



#h1,
h2 {
    font-family: Great+Vibes, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: hwb(180 8% 69% / 0.925);
}

#company-name {
    float: left;
    font-size: 420%;
    color: hwb(180 8% 69% / 0.925);
    margin-left: 20px;
}

#menu {

    font-size: 160%;
    letter-spacing: 4px;
    float: right;
    color: hwb(180 8% 69% / 0.925);
    margin-right: 20px;



}

#menu,
#company-name {
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu li {
    float: right;
    margin: 30px;
    list-style-type: none;

}

#menu a {
    text-decoration: double;
    color: inherit;
}

#menu a:hover {
    border-bottom: thick double hwb(180 8% 69% / 0.925);
}

.active-link {
    border-bottom: 5px double hwb(180 8% 69% / 0.925);

}

#general-information {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text1,
#cover-text1 h2 {
    color: hwb(180 8% 69% / 0.925);

}

#prices {
    height: 800px;
    width: 100%;
    position: relative;
    
}

#cover-text2,
#cover-text2 h2 {
    color: hwb(180 8% 69% / 0.925);
    text-align: center;

}

#contacts {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position:relative;
    text-align: center;
   

}

#cover-text3,
#cover-text3 h2 {
    color: hwb(180 8% 69% / 0.925);

}


#nails1 {
    height: 800px;
    width: 100%;
    background-image: url('../images/nails1.jpeg');
    animation-name: nails1-zoom;
    animation-duration: 10s;
    animation-fill-mode: back;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#nails2 {
    height: 800px;
    width: 100%;
    background-image: url('../images/nails2.jpg');
    animation-name: nails2-zoom;
    animation-duration: 3s;
    animation-fill-mode: back;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#nails3 {
    height: 800px;
    width: 100%;
    background-image: url('../images/nails3.jpg');
    animation-name: nails3-zoom;
    animation-duration: 10s;
    animation-fill-mode: back;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#nails4 {
    height: 600px;
    width: 100%;
    background-image: url('../images/nails4.jpg');
    animation-name: nails4-zoom;
    animation-duration: 5s;
    animation-fill-mode: back;
}

@keyframes nails1-zoom {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}

    to {
        transform: scale(1.2);
    }
}



@keyframes nails3-zoom {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}

    to {
        transform: scale(1.2);
    }
}

#cover-text1 {
    font-size: 120%;
    font-family: MonteCarlo, sans-serif;
    text-transform: none;
    letter-spacing: 5px;
    width: 350px;
    height: 400px;
    padding-top: 40px;
    padding-letf: 10px;

    background-color: Transparent;

    top: 50px;
    left: 120px;

    position: absolute;

}

#cover-text2 {
    font-size: 120%;
    font-family: MonteCarlo, sans-serif;
    text-transform: none;
    letter-spacing: 5px;

    width: 350px;
    height: 400px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: Transparent;

    top: 50px;
    right: 120px;

    position: absolute;

}

#cover-text3 {
    font-size: 120%;
    font-family: MonteCarlo, sans-serif;
    text-transform: none;
    letter-spacing: 5px;
    width: 350px;
    height: 400px;
    padding-top: 40px;
    background-color: Transparent;
    top: 50px;
    left: 120px;
    position: absolute;
   
}

footer {
    height: 80px;
    color: black;
    background-color: #d9f1f2;
    
    
}


.social-networks {
    text-align: center;
    font-size: large;
    
}

.law-info {
    text-align: center;
    margin-bottom: 2%;
    background-color: rgb(217, 241, 242);
}

.social-networks i {
    margin-top: 40px;
    font: size 150%;
    margin: 1%;
    padding: 1%;
    color: hwb(180 8% 69% / 0.925);
    
}


.nail, .hair {
    width: 45%;
    display: inline-block;
    font-size: larger;
    background-color:  hwb(180 8% 69% / 0.2);
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 4%;
    line-height: 1.8;
    margin-top: 50px;
    text-align: сenter;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nail ul, .hair ul {
    list-style: none;
    width: 100%;
    position: relative;
    margin-left: 10%;
    color: black;
    text-align: justify;
    
}

.price-holder{
    width: 100%;
    display: block;
    font-style: oblique 18deg;
    
}

@media screen and  (max-width: 1200px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text1 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
    }

    #cover-text2 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
    }

    #cover-text3 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
    }

    hr {
        display: none;
    }
}

@media screen and  (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
      
    }

    #cover-text1 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
        text-align: center;
    }

    #cover-text2 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
        text-align: center;
    }

    #cover-text3 {
        width: 90%;
        height: 120px;
        left: 1%;
        margin: 0 auto;
        text-align: center;
        
    }
}

.form-section {
    clear: left;
    background: none;
    background-size: cover;
    background-position: center;
    height: 900px;
    font-size: x-large;
    
    
}

#sign-up {
    text-align: center;
    font-size: 20px;

}

.manicure-block, .pedicure-block {
    text-align: center;
    color: red;
    font-size: xx-large;
    
}
input {
    width: 10%;
    height: 4%;
    margin: 8px 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #d9f1f2;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}